@import "tailwindcss";

:root {
  --background: hsl(218, 100%, 97%);
  --foreground: hsl(213, 96%, 18%);
}

@theme {
  --color-Blue-950: hsl(213, 96%, 18%);
  --color-Purple-600: hsl(243, 100%, 62%);
  --color-Blue-300: hsl(228, 100%, 84%);
  --color-Blue-200: hsl(206, 94%, 87%);
  --color-Red-500: hsl(354, 84%, 57%);
  --color-Grey-500: hsl(231, 11%, 63%);
  --color-Purple-200: hsl(229, 24%, 87%);
  --color-Blue-100: hsl(218, 100%, 97%);
  --color-Blue-50: hsl(231, 100%, 99%);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-size: 16px;
  font-family: "Ubuntu", sans-serif;
}

.form-error:has(+ input:invalid)::after {
  content: 'Please fill in this field';
}

.form-error-email:has(+ input:invalid)::after {
  content: 'Please enter a valid email address';
}